{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
{{/section}}

{{#section 'js'}}
  <script src="/js/jquery-3.5.1.min.js"></script>

  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>

  <style>
    .swal2-popup{
      background-color: white;
      color: rgb(187, 6, 6);
    }
    .swal2-title{
      color: rgb(187, 6, 6);
    }
    .swal2-content{
      color: black;
    }
  </style>
<script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#txtDes',
    height: 400,
    plugins: 'paste link autolink lists table',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
  $('#fuMain').fileinput({
    theme: 'fa',
    dropZoneEnabled: false,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
  });
</script>
<script>
    function validated(){
      if(validated_name()){
        if(validated_price()){
          if(validated_offer()){
            if(validated_shortdes()){
              if(validated_des()){
                if(validated_image()){
                  return true;
                }else{
                  Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Vui lòng tải lên hình ảnh của khóa học.',
                })
                return false;
                }
              }else{
                Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Vui lòng nhập mô tả của khóa học.',
                })
                return false;
              }
            }else{
              Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Vui lòng nhập mô tả ngắn của khóa học.',
              })
              return false;
            }
          }else{
            Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Offer không hợp lệ. Offer phải lớn hơn hoặc bằng 0.',
            })
            return false;
          }
        }else{
          Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Giá khóa học không hợp lệ. Giá phải lớn hơn hoặc bằng 0.',
          })
          return false;
        }
      }else{
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Xin vui lòng điền tên khóa học.',
          })
        return false;
      }
    }

    function validated_name(){
			var name = document.getElementById("txtName").value;
			if(name === null || name === ''){
				//alert("Xin vui lòng điền họ và tên của bạn.");
				return false;
			}      
			return true;
		};

    function validated_price(){
			var price = document.getElementById("price").value;
			if(+price < 0 || price === '' || price === null){
				return false;
			}
      return true;
		};

    function validated_offer(){
			var price = document.getElementById("offer").value;
      if(price != null && price != ''){
        if(+price < 0 || +price >100){
				  return false;
			  }
        return true;
      }else{
        return true;
      }			
		};

    function validated_shortdes(){
			var price = document.getElementById("txtShortDescription").value;
			if(price === '' || price === null){
				return false;
			}
      return true;
		};

    function validated_des(){
			let des = tinyMCE.get('txtDes').getContent();
			if(des === '' || des === null){
				return false;
			}
      return true;
		};

    function validated_image(){
      $('.file-caption-name').attr("id","fileimg");
			if(document.getElementById("fileimg").value=== ""){
				return false;
			}
      return true;
		};
  
</script>
{{/section}}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thêm khóa học</h1>
</div>

<div class="row">
  <div class="col-sm-10">
  <form id="fmAddCourse" method="POST" enctype="multipart/form-data" onsubmit="return validated();">
    <div class="form-group">
      <label for="txtName">Tên khóa học</label>
      <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Nhập tên khóa học">
    </div>
    <div class="form-group">
      <label for="price">Giá khóa học</label>
      <input type="number" class="form-control" id="price" name="price" placeholder="Nhập giá khóa học">
    </div>
    <div class="form-group">
      <label for="offer">Giảm giá (%)</label>
      <input type="number" class="form-control" id="offer" name="offer" placeholder="Nhập % giảm giá (nếu có)">
    </div>
    <div class="form-group">
      <div><label for="id_category">Chọn lĩnh vực của khóa học</label></div>
      <div>
        <select name="id_category" id="id_category" style="width: 100%; height: 38px;">
        {{#each categories}}
        <option value={{id}}>{{name}}</option>
        {{/each}}
      </select>
      </div>
    </div>
    <div class="form-group">
      <div><label for="fuMain">Chọn hình ảnh khóa học</label></div>
      <input id="fuMain" name="fuMain" type="file" class="file" multiple>
    </div>
    <div class="form-group">
      <label for="txtShortDescription">Mô tả ngắn</label>
      <input type="text" class="form-control" id="txtShortDescription" name="txtShortDescription">
    </div>
    <div class="form-group">
        <label for="txtDes">Mô tả chi tiết khóa học</label>
        <textarea class="form-control" name="txtDes" id="txtDes" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary px-5">Thêm</button>
  </form>
  </div>
</div>