<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com/">

  <title>Rekdu - Free Online Course Website Template</title>

  <link rel="stylesheet" href="/css/bootstrap.css">

  <link rel="stylesheet" href="/css/maicons.css">

  <link rel="stylesheet" href="/vendor/animate/animate.css">

  <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css">

  <link rel="stylesheet" href="/vendor/fancybox/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/css/theme.css">

</head>
<body>

  <!-- Page Loader -->
  <div class="loader-container">
    <img src="/img/ripple.svg" alt="">
  </div>

  <!-- Back to top button -->
  <div class="back-to-top"></div>
        

  <main>
    <div class="page-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card-sign mb-3">
              <div class="wrap">
                {{#if err_message}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{err_message}}
                </div>
                {{/if}}
                  <h1 class="text-center fg-primary">Đăng nhập</h1>
                <form class="mt-4" method="POST">
                  <div class="form-group">
                    <label for="txtUsername">Tên tài khoản</label>
                    <input type="text" class="form-control" id="txtUsername" name="username">
                  </div>
                  <div class="form-group">
                    <label for="txtPassword">Mật khẩu</label>
                    <input type="password" class="form-control" id="txtPassword" name="password">
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" style="width: 100%;">Đăng nhập</button>
                  </div>
                </form>
              </div>
            </div>

            <p class="text-center">Bạn chưa có tài khoản? Tạo tài khoản <a href="#">tại đây.</a>.</p>

            <div class="text-center space-up-48">
              <small class="text-weight-bold fg-secondary">Đăng nhập với</small>
              <div class="sosmed-button mt-2">
                <a href="#" class="btn p-0 bg-facebook fg-white"><span class="mai-logo-facebook-f"></span></a>
                <a href="#" class="btn p-0 bg-twitter fg-white"><span class="mai-logo-twitter"></span></a>
                <a href="#" class="btn p-0 bg-google-plus fg-white"><span class="mai-logo-google"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<script src="/js/jquery-3.5.1.min.js"></script>

<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>

<script src="/vendor/typedjs/typed.min.js"></script>

<script src="/vendor/fancybox/js/jquery.fancybox.min.js"></script>

<script src="/vendor/waypoints/jquery.waypoints.min.js"></script>

<script src="/vendor/animateNumber/jquery.animateNumber.min.js"></script>

<script src="/vendor/wow/wow.min.js"></script>

<script src="/js/theme.js"></script>

</body>
</html>