<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com/">

  <title>Rekdu - Free Online Course Website Template</title>

  <link rel="stylesheet" href="/css/bootstrap.css">

  <link rel="stylesheet" href="/css/maicons.css">

  <link rel="stylesheet" href="/vendor/animate/animate.css">

  <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css">

  <link rel="stylesheet" href="/vendor/fancybox/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/css/theme.css">

</head>
<body>

  <!-- Page Loader -->
  <div class="loader-container">
    <img src="/img/ripple.svg" alt="">
  </div>

  <!-- Back to top button -->
  <div class="back-to-top"></div>
  <main>
    <div class="page-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card-sign mb-3">
              <div class="wrap">
                {{#if err_message}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{err_message}}
                </div>
                {{/if}}
                <h1 class="text-center fg-primary">Đăng kí</h1>
                <form class="mt-4" action="" method="POST" id="frmRegister">
                  <div class="form-group">
                    <label for="txtName">Họ và tên</label>
                    <input type="text" class="form-control" id="txtName" name="txtName">
                  </div>
                  <div class="form-group">
                    <label for="txtUsername">Tên tài khoản</label>
                    <input type="text" class="form-control" id="txtUsername" name="txtUsername">
                  </div>
                  <div class="form-group">
                    <label for="txtPassword">Mật khẩu</label>
                    <input type="password" class="form-control" id="txtPassword" name="txtPassword">
                  </div>
                  <div class="form-group">
                    <label for="txtConfirm">Xác nhận mật khẩu</label>
                    <input type="password" class="form-control" id="txtConfirm" name="txtConfirm">
                  </div>
                  <div class="form-group">
                    <label for="txtEmail">Địa chỉ email</label>
                    <input type="text" class="form-control" id="txtEmail" name="txtEmail">
                  </div>

                  <div class="form-group">
                    <label for="txtPhone">Số điện thoại</label>
                    <input type="text" class="form-control" id="txtPhone" name="txtPhone">
                  </div>

                  <input type="hidden" class="form-control" id="txt" name="txt">

                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" style="width: 100%;">Tạo tài khoản</button>
                  </div>
                </form>
              </div>
            </div>

            <p class="text-center">Bạn đã có tài khoản? Đăng nhập <a href="/account/login">tại đây</a>.</p>

            <div class="text-center space-up-48">
              <small class="text-weight-bold fg-secondary">Đăng nhập với</small>
              <div class="sosmed-button mt-2">
                <a href="#" class="btn p-0 bg-facebook fg-white"><span class="mai-logo-facebook-f"></span></a>
                <a href="#" class="btn p-0 bg-twitter fg-white"><span class="mai-logo-twitter"></span></a>
                <a href="#" class="btn p-0 bg-google-plus fg-white"><span class="mai-logo-google"></span></a>
              </div>
            </div>
        </div>
      </div>
    </div>
    </div>
  </main>
        
<script src="/js/jquery-3.5.1.min.js"></script>

<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>

<script src="/vendor/typedjs/typed.min.js"></script>

<script src="/vendor/fancybox/js/jquery.fancybox.min.js"></script>

<script src="/vendor/waypoints/jquery.waypoints.min.js"></script>

<script src="/vendor/animateNumber/jquery.animateNumber.min.js"></script>

<script src="/vendor/wow/wow.min.js"></script>

<script src="/js/theme.js"></script>
</script>                                                                                 

<script>
    
    $('#frmRegister').on('submit', function (e) {
      e.preventDefault();
      var rel = $('#txt').val(validated_name());
      if($('#txt').val() == "true"){
        rel = $('#txt').val(validated_username());
        if($('#txt').val() == "true"){
          const username = $('#txtUsername').val();
          $.getJSON(`/account/username/is-available?user=${username}`, function (data) {
            if (data === true) {
              rel = $('#txt').val(validated_password());
              if($('#txt').val() == "true"){
                rel = $('#txt').val(validated_confirm());
                if($('#txt').val() == "true"){
                  rel = $('#txt').val(validated_email());
                  if($('#txt').val() == "true"){
                    const email = $('#txtEmail').val();
                    $.getJSON(`/account/email/is-available?email=${email}`, function (data) {
                      if (data === true) {
                        rel = $('#txt').val(validated_phone());
                        if($('#txt').val() == "true"){
                          $('#frmRegister').off('submit').submit();
                        }else{
                          alert("Số điện thoại không hợp lệ.");
                        }
                      } else {         
                        alert('Email đã tồn tại.');
                      }
                    })
                  }else{
                    alert("Email không hợp lệ.");
                  }
                }else{
                  alert("Xác nhận mật khẩu sai.");
                }
              }else{
                alert("Xin vui lòng điền mật khẩu của bạn.");
              }
            } else {         
              alert('Tên tài khoản đã tồn tại.');
            }
          })
        }else{
          alert("Xin vui lòng điền tên tài khoản của bạn.");
        }
      }else{
        alert("Xin vui lòng điền họ và tên của bạn.");
      }
    });

    function validated_name(){
			var name = document.getElementById("txtName").value;
			if(name === null || name === ''){
				//alert("Xin vui lòng điền họ và tên của bạn.");
				return false;
			}
      
			return true;
		};

    function validated_username(){
			var name = document.getElementById("txtUsername").value;
			if(name === null || name === ''){
				//alert("Xin vui lòng điền tên tài khoản của bạn.");
				return false;
			}
      return true;
		};

    function validated_password(){
			var pass = document.getElementById("txtPassword").value;
			if(pass === null || pass === ''){
				//alert("Xin vui lòng điền mật khẩu của bạn.");
				return false;
			}
			return true;
		};

    function validated_confirm(){
      var pass = document.getElementById("txtPassword").value;
			var confirm = document.getElementById("txtConfirm").value;
			if(confirm === null || confirm === '' || confirm !== pass){
				//alert("Xác nhận mật khẩu sai.");
				return false;
			}
			return true;
		};

		function validated_email(){
			var email = document.getElementById("txtEmail").value;
			var reg_mail = /^[A-Za-z0-9]+([_\.\-]?[A-Za-z0-9])*@[A-Za-z0-9]+([\.\-]?[A-Za-z0-9]+)*(\.[A-Za-z]+)+$/;
			if(email === '' || email === null || reg_mail.test(email) === false){		
        //alert("Email không hợp lệ.");
				return false;
			}
      return true;
		};

    function validated_phone(){
      var phone = document.getElementById("txtPhone").value;
      if(phone === null || phone === '' || phone.length > 11 || phone.length < 6){
        //alert("Số điện thoại không hợp lệ.");
        return false;
      }
      return true;
    };
  
</script>
</body>
</html>