.submenu {
  right: 100%;
  left: auto;
  top: -10px;
  background-color: chocolate;
}
.straight {
  left: -75px;
}
.dropdown-menu li:hover {
  background-color: chocolate;
}
.dropdown-menu {
  background-color: rgb(124, 111, 101) !important;
}
