.submenu {
  right: 100%;
  left: auto;
  top: -10px;
  background-color: chocolate;
}
.straight {
  left: -75px;
}
.dropdown-menu li a:hover {
  color: #212529 !important;
}
.dropdown-menu {
  background-color: rgb(124, 111, 101) !important;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
