{{#section 'css'}}

{{/section}}

{{#section 'js'}}
<script src="/js/jquery-3.5.1.min.js"></script>

  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>

  <style>
    .swal2-popup{
      background-color: white;
      color: rgb(187, 6, 6);
    }
    .swal2-title{
      color: rgb(187, 6, 6);
    }
    .swal2-content{
      color: black;
    }
  </style>
 <script>
    function validated_name(){
			var name = document.getElementById("txtName").value;
			if(name === null || name === ''){
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Xin vui lòng điền tên lĩnh vực.',
          })
				return false;
			}
      
			return true;
		};
  </script>
{{/section}}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thêm lĩnh vực</h1>
</div>
<div class="row">
  <div class="col-sm-6">
  <form method="POST" onsubmit="return validated_name()">
    <div class="form-group">
      <label for="txtName">Tên lĩnh vực</label>
      <input type="text" class="form-control" id="txtName" name="txtName" aria-describedby="emailHelp" placeholder="Nhập tên lĩnh vực">
    </div>
    <div class="form-group">
      <div><label for="parent">Chọn lĩnh vực cha</label></div>
      <div>
        <select name="parent" id="parent" style="width: 100%; height:38px;">
        <option value="0">Không có</option>
        {{#each categories}}
        <option value={{id}}>{{name}}</option>
        {{/each}}
      </select>
      </div>
    </div>
    <div class="form-group">
      <label for="txtUrl">URL</label>
      <input type="text" class="form-control" id="txtUrl" name="txtUrl" aria-describedby="emailHelp" placeholder="Nhập url">
    </div>
    <button type="submit" class="btn btn-primary px-5">Thêm</button>
  </form>  
  </div>
    </div>